<div class="container">
  <h1>Reading List</h1>
  <% @lists.each do |list| %>
  <ul class="list-title">
  	<li><%=link_to "#{list.name}", list_path(list) %></li>
  </ul>
  <% end %>
<p><%=link_to 'Create new list', new_list_path %></p>
</div>
